<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Product List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let product of products">
    <ion-item>
      <ion-thumbnail item-start>
        <img src= {{product.imageUrl}}>
      </ion-thumbnail>
      <h2>{{product.name}}</h2>
      <h2>{{product.brand}}</h2>
      <p>Max Price: {{product.maximumPrice}} Min Price: {{product.minimumPrice}}<br>Cash Back: {{product.cashback}}</p>
      <button ion-button clear item-end (click)="itemTapped(click,product)">View</button>
    </ion-item>
  </ion-list>

  <p align="center">
    <button ion-button color="primary" icon-start (click)="backClick()" *ngIf="hideButton">
      <ion-icon name='arrow-back'></ion-icon>
      Back
    </button>


    <button ion-button color="primary" icon-end (click)="nextClick()" *ngIf="hideSecondButton">
      Next
      <ion-icon name='arrow-forward'></ion-icon>
    </button>
  </p>

</ion-content>
